<div class="w-full h-screen overflow-hidden relative">
  <div
    class="h-[350px] w-[350px] opacity-50 bg-gray-400 rounded-full absolute bottom-[-100px] left-[-100px]"
  ></div>

  <div
    class="h-[350px] w-[350px] opacity-50 bg-indigo-400 rounded-full absolute top-[-100px] right-[-200px]"
  ></div>

  <div class="h-full w-full flex flex-col justify-center items-center">
    <div
      class="flex flex-col gap-3 bg-white rounded-xl shadow-xl px-12 py-10 items-center fadein"
    >
      <div class="w-[100px]">
        <img
          class="object-cover"
          src="../../assets/Logo.png"
          alt="Logo pdf ai"
        />
      </div>

      <h1 class="text-2xl font-bold tracking-wide">😊 Let's get Started</h1>

      <p>Sign in now and start chating with your pdf documents</p>

      <div id="google-login"></div>
    </div>
  </div>
</div>
