<div
  class="w-full h-screen flex flex-col gap-20 justify-center items-center relative overflow-hidden"
>
  <div class="relative">
    <img class="w-[150px]" src="../../assets/Logo.png" alt="Logo ai pdf" />
  </div>

  <div
    class="h-[350px] w-[350px] opacity-50 bg-gray-400 rounded-full absolute bottom-[-100px] left-[-100px]"
  ></div>

  <div
    class="h-[350px] w-[350px] opacity-50 bg-indigo-400 rounded-full absolute top-[-100px] right-[-200px]"
  ></div>

  <div
    class="w-[400px] h-[260px] bg-white shadow-xl rounded-md relative flex flex-col items-center"
  >
    @if(!isLoading){
    <img
      class="absolute top-[-60px] rounded-full w-[120px] h-[120px] bg-blue-600 left-0 right-0 mx-auto shadow-xl"
      [src]="user.picture"
      alt=""
    />

    <div class="flex flex-col top-20 absolute items-center">
      <p class="font-bold uppercase">{{ user.username }}</p>
      <p>{{ user.email }}</p>
      <p>Remaining Documents : {{ user.remainingDocuments }}</p>
      <p>Remaining Questions : {{ user.remainingQuestions }}</p>
      <div class="flex gap-2">
        <button
          (click)="signOut()"
          mat-stroked-button
          class="bg-green-700 w-[150px]"
        >
          Sign out
        </button>
      </div>
    </div>

    }@else {
    <div class="h-full w-full flex flex-col justify-center items-center">
      <div class="w-full h-full flex flex-col justify-center items-center">
        <div class="flex bg-black-400 gap-1 dots">
          <div
            class="w-[15px] h-[15px] bg-black rounded-full dots"
            style="--delay: 200ms"
          ></div>
          <div
            class="w-[15px] h-[15px] bg-black rounded-full dots"
            style="--delay: 300ms"
          ></div>
          <div
            class="w-[15px] h-[15px] bg-black rounded-full dots"
            style="--delay: 400ms"
          ></div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
